extends layout 
block content 
    .preview-page 
        .preview-template 
            h1 Title: #{book.title}
            p  This is a preview of the first chapter from the book '#{book.title}'. If you wish to reserve this book for checkout in the future, hit on the reserve button below. The ID for this book is - #{book.book_id}. 
            p Chapter one of '#{book.title}'
            .preview-chapter 
                p #{book.chapter}

            .review 
                h2 Create A review about #{book.title}
                    form(action="/rev", method='POST')
                        input(type="hidden" name='id' value=book.book_id)
                        textarea(name="review", cols="50", rows="6")  
                        div 
                        input(type="submit" value='Review')
            .reserve 
                a.btn(href="/reserved/" + book.book_id) Reserve Book